  <button id="u_btn">ニックネーム検索</button>
  <button id="c_btn">居住エリア検索</button>
  <button id="key_btn">情報交換キーワード検索</button>
  <button id="title_btn">投稿のタイトル検索</button>
  <button id="p_search_btn">投稿の検索キーワード検索</button>
  
  <div id="u_search" class="hide">
    <input type="text" name="nickname" placeholder="ニックネームを入力" id="nickname" oninput="input_check()"/>
    <button id="search_nickname" disabled>検索</button>
    <div id="nickname_result"></div>
    <div class="err_text" id="nic_err_textbox"></div>
  </div>
    
  <div id="c_search" class="hide">
    <input type="text" name="city" placeholder="市町村を入力" id="city" oninput="input_check()"/>
    <button id="search_city" disabled>検索</button>
    <div id="city_result"></div>
    <div class="err_text" id="err_textbox"></div>
  </div>
  
  <div id="key_search" class="hide">
    <input type="text" name="key" placeholder="情報交換キーワードを入力" id="key" oninput="input_check()"/>
    <button id="search_key" disabled>検索</button>
    <div id="key_result"></div>
    <div class="err_text" id="err_textbox"></div>
  </div>
  
  <div id="title_search" class="hide">
    <input type="text" name="title" placeholder="投稿のタイトルを入力" id="title" oninput="input_check()"/>
    <button id="search_title" disabled>検索</button>
    <div id="title_result"></div>
    <div class="err_text" id="err_textbox"></div>
  </div>
  
  <div id="p_search" class="hide">
    <input type="text" name="p_key" placeholder="投稿の検索キーワードを入力" id="p_key" oninput="input_check()">
    <button id="search_p_key" disabled>検索</button>
    <div id="p_key_result"></div>
    <div class="err_text" id="err_textbox"></div>
  </div>
  
<script>
$('#u_btn').click(function() {
        $('#c_search').fadeOut();
        $('#key_search').fadeOut();
        $('#title_search').fadeOut();
        $('#p_search').fadeOut();
        $('#u_search').fadeIn();
    })
    
$('#c_btn').click(function() {
        $('#u_search').fadeOut();
        $('#key_search').fadeOut();
        $('#title_search').fadeOut();
        $('#p_search').fadeOut();
        $('#c_search').fadeIn();
    })
  
$('#key_btn').click(function() {
        $('#u_search').fadeOut();
        $('#c_search').fadeOut();
        $('#title_search').fadeOut();
        $('#p_search').fadeOut();
        $('#key_search').fadeIn();
    })

$('#title_btn').click(function() {
        $('#u_search').fadeOut();
        $('#c_search').fadeOut();
        $('#key_search').fadeOut();
        $('#p_search').fadeOut();
        $('#title_search').fadeIn();
    })
    
$('#p_search_btn').click(function() {
        $('#u_search').fadeOut();
        $('#c_search').fadeOut();
        $('#key_search').fadeOut();
        $('#title_search').fadeOut();
        $('#p_search').fadeIn();
    })

// $(function(){
// 	$("#nickname").bind("blur", function() {
// 		var _textbox = $(this).val();
// 		check_textbox(_textbox);
// 	});
// });

// function check_textbox(str){
// 	$("#nic_err_textbox p").remove();
// 	var _result = true;
// 	var _textbox = $.trim(str);

// 	if(_textbox.match(/^[ 　\r\n\t]*$/)){
// 		$("#nic_err_textbox").append("<p><i class=\"fa fa-exclamation-triangle\"></i>検索ワードを入力してください。</p>");
// 		_result = false;
// 	}
// 	return _result;
// }

// const nicinput = document.getElementById('nickname');
// const nicbtn = document.getElementById('earch_nickname');
// nicinput.addEventListener('keyup', (e) => {
//   if (1 <= e.target.value.length) {
//     nicbtn.disabled = false;
//   } 
// })

// function count_text() {
//     let nickname = document.getElementsByClassName("text_check").value;
//     if(nickname > 1){
//       document.getElementsByClassName("search_btn").removeAttribute("disabled");
//     }else{
//       document.getElementsByClassName("search_btn").setAttribute("disabled", true);
//     }
//   }

function input_check(){
  let nickname = document.getElementById("nickname").value.length;
  let city = document.getElementById("city").value.length;
  let key = document.getElementById("key").value.length;
  let title = document.getElementById("title").value.length;
  let p_key = document.getElementById("p_key").value.length;

  if(nickname >= 1){
    document.getElementById("search_nickname").removeAttribute("disabled");
  }else{
    document.getElementById("search_nickname").setAttribute("disabled", true);
  }

  if(city >= 1){
    document.getElementById("search_city").removeAttribute("disabled");
  }else{
    document.getElementById("search_city").setAttribute("disabled", true);
  }

  if(key >= 1){
    document.getElementById("search_key").removeAttribute("disabled");
  }else{
    document.getElementById("search_key").setAttribute("disabled", true);
  }

  if(title >= 1){
    document.getElementById("search_title").removeAttribute("disabled");
  }else{
    document.getElementById("search_title").setAttribute("disabled", true);
  }

  if(p_key >= 1){
    document.getElementById("search_p_key").removeAttribute("disabled");
  }else{
    document.getElementById("search_p_key").setAttribute("disabled", true);
  }
}

// function count_nic() {
//     let nickname = document.getElementById("nickname").value.length;
//     if(nickname >= 1){
//       document.getElementById("search_nickname").removeAttribute("disabled");
//     }else{
//       document.getElementById("search_nickname").setAttribute("disabled", true);
//     }
//   }

// function count_city() {
//     let city = document.getElementById("city").value.length;
//     if(city >= 1){
//       document.getElementById("search_city").removeAttribute("disabled");
//     }else{
//       document.getElementById("search_city").setAttribute("disabled", true);
//     }
//   }
  
// function count_key() {
//     let key = document.getElementById("key").value.length;
//     if(key >= 1){
//       document.getElementById("search_key").removeAttribute("disabled");
//     }else{
//       document.getElementById("search_key").setAttribute("disabled", true);
//     }
//   }

// function count_title() {
//     let title = document.getElementById("title").value.length;
//     if(title >= 1){
//       document.getElementById("search_title").removeAttribute("disabled");
//     }else{
//       document.getElementById("search_title").setAttribute("disabled", true);
//     }
//   }
  
// function count_p_key() {
//     let p_key = document.getElementById("p_key").value.length;
//     if(p_key >= 1){
//       document.getElementById("search_p_key").removeAttribute("disabled");
//     }else{
//       document.getElementById("search_p_key").setAttribute("disabled", true);
//     }
//   }

$(document).on('turbolinks:load', (function(){
      $('#search_nickname').click(function(){
        let nickname = $('#nickname').val();
        $.ajax({
          type: 'GET',
          url: '/result',
          data: {nickname: nickname},
          dataType: 'json'
        })
        .done(function(data){
          nic_check(data.users)
        　
        　$.each(data.users, function(index,val){
            $('#table_nickname').append(
              (nic_result(val))
            )
          })
          console.log(data.users);
        })
      })
    }))
    
var nic_check = (data) => {
    if (data.length === 0) {
      $('#nickname_p').remove()
      $('#table_nickname').remove()
      $('#nickname_result').append('<p id="nickname_p">ニックネーム検索結果<br>一致する検索結果がありませんでした</p>');
    } else {
      $('#nickname_p').remove()
      $('#table_nickname').remove()
      $('#nickname_result').append('<p id="nickname_p">ニックネーム検索結果</p>');
      $('#nickname_result').append('<table id="table_nickname"></table>');
    }
  }
  
  var nic_result = (val) => {
      console.log(val)
      if (val !== null && val.id !== 1){
      return $('<tbody></tbody>')
              .append('<tr></tr>')
              .append('<tr></tr>')
              .append(prof_pic(val))
      } 
    }

$(document).on('turbolinks:load', (function(){
      $('#search_city').click(function(){
        let city = $('#city').val();
        $.ajax({
          type: 'GET',
          url: '/result',
          data: {city: city},
          dataType: 'json'
        })
        .done(function(data){
          city_check(data.cities)
          
        　$.each(data.cities, function(index,val){
            $('#table_city').append(
              (city_result(val))
            )
          })
          console.log(data.cities);
        })
      })
    }))
    
var city_check = (data) => {
    if (data.length === 0) {
      $('#city_p').remove()
      $('#table_city').remove()
      $('#city_result').append('<p id="city_p">居住エリア検索結果<br>一致する検索結果がありませんでした</p>');
    } else {
      $('#city_p').remove()
      $('#table_city').remove()
      $('#city_result').append('<p id="city_p">居住エリア検索結果</p>');
      $('#city_result').append('<table id="table_city"></table>');
    }
  }
  
  var city_result = (val) => {
      console.log(val)
      if (val !== null && val.id !== 1){
      return $('<tbody></tbody>')
              .append('<tr></tr>')
              .append('<tr></tr>')
              .append(prof_pic(val))
              .append(`<td>${val.city}</td>`)
      } 
    }

$(document).on('turbolinks:load', (function(){
      $('#search_key').click(function(){
        let key = $('#key').val();
        $.ajax({
          type: 'GET',
          url: '/result',
          data: {key: key},
          dataType: 'json'
        })
        .done(function(data){
          key_check(data.keies)
        　$.each(data.keies, function(index,val){
            $('#table_key').append(
              (result(val))
            )
          })
          console.log(data.keies);
        })
      })
    }))
  
  var key_check = (data) => {
    if (data.length === 0) {
      $('#key_p').remove()
      $('#table_key').remove()
      $('#key_result').append('<p id="key_p">情報交換キーワード検索結果<br>一致する検索結果がありませんでした</p>');
    } else {
      $('#key_p').remove()
      $('#table_key').remove()
      $('#key_result').append('<p id="key_p">情報交換キーワード検索結果</p>');
      $('#key_result').append('<table id="table_key"></table>');
    }
  }
  
  var result = (val) => {
      console.log(val)
      if (val !== null && val.id !== 1){
      return $('<tbody></tbody>')
        .append('<tr></tr>')
        .append('<tr align="left"></tr>')
        .append(prof_pic(val))
        .append('<tr></tr>')
        .append(`<td>＃${val.key_word1}</td>`)
        .append(`<td>＃${val.key_word2}</td>`)
        .append(`<td>＃${val.key_word3}</td>`)
      } 
    }
    
  var prof_pic = (val) => {
      console.log(val)
      if(val.profile_image.url !== null){
        return `<td colspan="3"><img src="${val.profile_image.url}" width="20%"><a href="user/show/${val.id}">${val.nickname}</a></td>`
      }else{
        return `<td colspan="3"><i class="fas fa-user fa-3x" ></i><a href="user/show/${val.id}">${val.nickname}</a></td>`
      }
    }
    
$(document).on('turbolinks:load', (function(){
      $('#search_title').click(function(){
        let title = $('#title').val();
        $.ajax({
          type: 'GET',
          url: '/result',
          data: {title: title},
          dataType: 'json'
        })
        .done(function(data){
          title_check(data.titles)
          
        　$.each(data.titles, function(index,val){
            $('#table_title').append(
              title_result(val)
            )
          })
          console.log(data.titles);
        })
      })
    }))
    
var title_check = (data) => {
    if (data.length === 0) {
      $('#title_p').remove()
      $('#table_title').remove()
      $('#title_result').append('<p id="title_p">投稿タイトル検索結果<br>一致する検索結果がありませんでした</p>');
    } else {
      $('#title_p').remove()
      $('#table_title').remove()
      $('#title_result').append('<p id="title_p">投稿タイトル検索結果</p>');
      $('#title_result').append('<table id="table_title"></table>');
    }
  }
  
  var title_result = (val) => {
      console.log(val)
      if (val !== null){
      return  $('<tbody></tbody>')
              .append('<tr></tr>')
              .append('<tr></tr>')
              .append(prof_pic_p(val))
              .append('<tr></tr>')
              .append(`<td><a href="/post_show/${val.id}">${val.title}</a></td>`)
      } 
    }

$(document).on('turbolinks:load', (function(){
      $('#search_p_key').click(function(){
        let p_key = $('#p_key').val();
        $.ajax({
          type: 'GET',
          url: '/result',
          data: {p_key: p_key},
          dataType: 'json'
        })
        .done(function(data){
          p_key_check(data.pkeies)
          
        　$.each(data.pkeies, function(index,val){
            $('#table_p_key').append(
              p_key_result(val)
            )
          })
          console.log(data.pkeies);
        })
      })
    }))
    
var p_key_check = (data) => {
    if (data.length === 0) {
      $('#p_key_p').remove()
      $('#table_p_key').remove()
      $('#p_key_result').append('<p id="p_key_p">投稿の検索キーワード検索結果<br>一致する検索結果がありませんでした</p>');
    } else {
      $('#p_key_p').remove()
      $('#table_p_key').remove()
      $('#p_key_result').append('<p id="p_key_p">投稿の検索キーワード検索結果</p>');
      $('#p_key_result').append('<table id="table_p_key"></table>');
    }
  }
  
  var p_key_result = (val) => {
      console.log(val)
      if (val !== null){
      return  $('<tbody></tbody>')
              .append('<tr></tr>')
              .append('<tr align="left"></tr>')
              .append(prof_pic_p(val))
              .append('<tr align="left"></tr>')
              .append(`<td colspan="5"><a href="/post_show/${val.id}">${val.title}</a></td>`)
              .append('<tr></tr>')
              .append(`<td>＃${val.key_word1}</td>`)
              .append(`<td>＃${val.key_word2}</td>`)
              .append(`<td>＃${val.key_word3}</td>`)
              .append(`<td>＃${val.key_word4}</td>`)
              .append(`<td>＃${val.key_word5}</td>`)
      } 
    }
    
  var prof_pic_p = (val) => {
      console.log(val)
      if(val.user.profile_image.url !== null){
        return `<td colspan="5"><img src="${val.user.profile_image.url}" width="20%"><a href="user/show/${val.user.id}">${val.user.nickname}</a></td>`
      }else{
        return `<td colspan="5"><i class="fas fa-user fa-3x"></i><a href="user/show/${val.user.id}">${val.user.nickname}</a></td>`
      }
    }
    
</script>