<h3 class="title">お知らせ一覧</h3>
<div style="margin-bottom:30px;"></div>
<% notifications = @notifications.where.not(visitor_id: current_user.id) %>
  <% if notifications.exists? %>
    <%= render notifications %>
  <% else %>
    <p class="title">通知はありません</p>
  <% end %>
