<%= form_for(current_user.active_relationships.build, remote: true) do |f| %>
  <div><%= hidden_field_tag :followed_id, @user.id %></div>
  <a><%= f.submit "#{@user.nickname}さんをお気に入り登録", class: "sns-btn", style: "padding:10px 18px;" %></a>
<% end %>