<%= form_for(current_user.active_relationships.find_by(followed_id: @user.id),
             html: { method: :delete },
             remote: true) do |f| %>
  <a><%= f.submit "#{@user.nickname}さんをお気入り解除", class: "sns-btn", style: "padding:10px 18px;" %></a>
<% end %>