body {
  max-width: 1080px;
  margin: 0 auto;
}

.title{
  text-align: center;
  margin-bottom: 3%;
}

.space {
  margin-bottom: 5px;
}

.space2 {
  margin-left: 10%;
}

.center {
  margin: 0 auto;
}

// @import "bootstrap-sprockets";
// @import "bootstrap";

// $gray-medium-light: #eaeaea;

// @mixin box_sizing {
//   -moz-box-sizing:    border-box;
//   -webkit-box-sizing: border-box;
//   box-sizing:         border-box;
// }

// /* miscellaneous */

// .debug_dump {
//   clear: both;
//   float: left;
//   width: 100%;
//   margin-top: 45px;
//   @include box_sizing;
// }

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

// .field_with_errors {
//   @extend .has-error;
//   .form-control {
//     // color: $state-danger-text;
//   }
// }

/* forms */

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}
// ヘッダーの通知マーク
.head-nav {
  position: relative;
  height: 58px;
  padding: 0px;
}

.notice {
  position: absolute;
  top: 10px;
  right: 100px;
}

.notice_mark {
  position: absolute;
  top: 10px;
  left: 35px;
}

.nav-footer {
  margin: 0 auto;
  padding: 0 0 0 0px;
  text-align: center;
}

.nav-footer p {
  width: 65px;
  font-size: 12px;
}

.navbar {
  background-color: #ffd6ad;
  z-index: 100;
  max-width: 1080px;
  margin: 0 auto;
}

.toggle-color {
  background-color: #ffd6ad;
}

button:focus {
  outline: 3px auto gray;
}

.nav-position {
  text-align: right;
  position: relative;
  z-index: 100;
}

.entry {
  border: none;
  background-color: #ffd6ad;
  border-radius: 20px;
}

.first-line {
  border-top: 3px solid;
  margin-top: 35px;
  color: gray;
}

.nav-padi {
  margin-right: 25px;
}

.noti {
  text-align: right;
}

.hide {
  display: none;
}

// .icon_size {
//   width: auto;
//   height: 50px;
// }

.right {
  display: flex;
  justify-content: flex-end;
}

.left {
  display: flex;
  justify-content: flex-start;
}

.edit_delete {
  text-align: right;
  margin-right: 5%;
}

.debug {
  margin-bottom: 100px;
}

.rep {
  margin-left: 30px;
}

/*ページネーション自体のデザイン*/
.pagination>li>a {          
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {     
  background: #ffd6ad;     /*背景の色を変える*/
  border-radius: 15px;     /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {        
  border-radius: 15px;    /*角を丸くする*/
}

// メッセージ機能193~313
/*==============
LINE風フキダシ
===============*/
/*フレームとフォント*/
.kaiwa.line {
    width: 100%;
    // max-width: 500px;
    margin: 0 auto;
    padding: 10px 0;
    // background: #769ece;
    font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","Helvetica Neue", "Lucida Sans Unicode", "Arial";
    font-size: 16px;
    color: #333;
    line-height: 1.4;
    overflow: hidden;
}
/*フキダシ共通*/
.kaiwa.line .fukidasi {
    position: relative;
    display: inline-block;
    max-width: 192px;
    margin: 8px 0 0;
    padding: 9px 14px;
    border-radius: 19px;
    overflow-wrap: break-word;
    clear: both;
    box-sizing: content-box;/*はてな用*/
}
/*フキダシ左*/
.kaiwa.line .fukidasi.left {
    float: left;
    margin-left: 62px;
    background: #e6e6fa;
}
/*グループのときのフキダシ*/
.kaiwa.line .name + .fukidasi.left {
    margin-top: 5px;
}
/*フキダシ右*/
.kaiwa.line .fukidasi.right {
    float: right;
    margin-right: 62px;
    background: #ffd6ad;
}

.kaiwa.line .name {
    clear: right;
    color: black;
}
.nameright{
  text-align: right;
  margin-top: 15px;
}

/*相手の名前*/
.kaiwa.line .name {
    clear: right;
    color: black;
}
/*ユーザアイコン*/
.kaiwa.line .icon {
    position: absolute;
    width: 40px;
    height: 40px;
    left: -54px;
    top: -2px;
    border-radius: 20px;
}

.iconright {
    position: absolute;
    width: 40px;
    height: 40px;
    right: -54px;
    top: -2px;
    border-radius: 20px;
    position: absolute;
}

/*グループのときのユーザアイコン*/
.kaiwa.line .name + .left .icon {
    // top: -1.8em;
    // padding-bottom: 10px;
}
/*しっぽ共通*/
.kaiwa.line .fukidasi::after {
    position: absolute;
    content: "";
    width: 24px;
    height: 36px;
    top: -5px;
}
/*しっぽ左*/
.kaiwa.line .fukidasi.left:after {
    left: -10px;
    border-radius: 18px 0 6px 18px/18px 0 1px 18px;
    box-shadow: -3px -15px 0 -5px #e6e6fa inset;
}
/*しっぽ右*/
.kaiwa.line .fukidasi.right::after {
    right: -10px;
    border-radius: 0 18px 18px 6px/0 18px 18px 1px;
    box-shadow: inset 3px -15px 0 -5px #ffd6ad;
}
/*フキダシが続いてしっぽがないとき*/
.kaiwa.line .left + .left::after,
.kaiwa.line .right + .right::after {
    content: none;
}

.mes_des {
  position: absolute;
  margin: 50px 0px;
  right: 15px;
}

.mes-form {
  margin: 0 auto;
  text-align: center;
}


// コメント機能
.reply {
  text-align: right;
  margin-right: 20px;
}

.reply_form {
  display: none;
}

#comment_form {
  display: none;
}

.hide_btn {
  border: none;
  background-color: white;
}

#reply_form {
  display: none;
}

#comment button {
  background-color: none;
  color: none;
}

// プロフィールページ
.prof {
  position: relative;
  width: 100%;
}

.prof-icon {
  position: relative;
  margin-left: 5%;
}

.status {
  position: absolute;
  right: 8%;
  top: 48px;
}

.pfof-text {
  margin-top: 5%;
}

.pfof-text p {
  overflow-wrap: break-word;
}

.status p {
  font-size: 1rem;
}

.align {
  width: 96px;
}

// 入力フォーム
.red {
  color: red;
}

// 検索ページ
.search {
  display: flex;
  flex-direction: column;
}

.s_btn {
  border: none;
  background-color: #ffd6ad;
  border-radius: 20px;
  margin: 3% 20%;
  outline-color: gray;
}

// .btn button:focus {
//     outline: none;
//   }

.s_window {
  text-align: center;
  margin: 5% 0;
}

#table_nickname {
  margin: 0 auto;
}

#table_city {
  margin: 0 auto;
}

#table_key {
  margin: 0 auto;
}

#table_title {
  margin: 0 auto;
}

#table_p_key {
  margin: 0 auto;
}

.result {
  margin: 3%;
  text-align: left;
}