// @import "bootstrap-sprockets";
// @import "bootstrap";

// $gray-medium-light: #eaeaea;

// @mixin box_sizing {
//   -moz-box-sizing:    border-box;
//   -webkit-box-sizing: border-box;
//   box-sizing:         border-box;
// }

// /* miscellaneous */

// .debug_dump {
//   clear: both;
//   float: left;
//   width: 100%;
//   margin-top: 45px;
//   @include box_sizing;
// }

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

// .field_with_errors {
//   @extend .has-error;
//   .form-control {
//     // color: $state-danger-text;
//   }
// }

/* forms */

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.navbar {
  background-color: #ffd6ad;
}

.hide {
  display: none;
}

.icon_size {
  width: auto;
  height: 50px;
}

.right {
  display: flex;
  justify-content: flex-end;
}

.left {
  display: flex;
  justify-content: flex-start;
}

.edit_delete {
  text-align: right;
  margin-right: 5%;
}

#comment_form {
  display: none;
}

.hide_btn {
  border: none;
  background-color: none;
  color: none;
}

#reply_form {
  display: none;
}

.debug {
  margin-bottom: 100px;
}

.rep {
  margin-left: 30px;
}

/*ページネーション自体のデザイン*/
.pagination>li>a {          
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {     
  background: #ffd6ad;     /*背景の色を変える*/
  border-radius: 15px;     /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {        
  border-radius: 15px;    /*角を丸くする*/
}