  <nav class="navbar navbar-expand-lg navbar-light fixed-bottom">
    <% if logged_in? %>
    <a class="nav-item nav-link" href="/post_like"><i class="fas fa-home fa-fw"></i><p>トップ画面</p></a>
    <a class="nav-item nav-link" href="/search_func"><i class="fas fa-search"></i><p>検索</p></a>
    <a class="nav-item nav-link" href="/post_new"><i class="far fa-edit"></i><p>新規投稿</p></a>
    <a class="nav-item nav-link" href="/room/index/<%= current_user.id %>"><i class="far fa-paper-plane"></i><p>メッセージ</p></a>
    <a class="nav-item nav-link" href="/user/show/<%= current_user.id %>"><i class="far fa-smile"></i><p>マイページ</p></a>
    <% end %>
  </nav>