<nav class="navbar fixed-bottom">
  <% if logged_in? %>
    <a class="nav-item nav-link nav-footer" href="/post_index" style="margin: 0px; padding: 0px;"><i class="far fa-list-alt fa-1x"></i><p style="margin: 0px;">投稿一覧</p></a>
    <a class="nav-item nav-link nav-footer" href="/search_func" style="margin: 0px; padding: 0px;"><i class="fas fa-search fa-1x"></i><p style="margin: 0px;"> 検索 </p></a>
    <a class="nav-item nav-link nav-footer" href="/post_new" style="margin: 0px; padding: 0px;"><i class="far fa-edit fa-1x"></i><p style="margin: 0px;">新規投稿</p></a>
    <a class="nav-item nav-link nav-footer" href="/room/index/<%= current_user.id %>" style="margin: 0px; padding: 0px;"><i class="far fa-paper-plane fa-1x"></i><p style="margin: 0px;">メッセージ</p></a>
    <a class="nav-item nav-link nav-footer" href="/user/show/<%= current_user.id %>" style="margin: 0px; padding: 0px;"><i class="far fa-smile fa-1x"></i><p style="margin: 0px;">マイページ</p></a>
  <% end %>
</nav>